/downloads
/gtceu
/journeymap
/.pg-native
/mods
/minecraftinstance.json
/options.txt
/rhino.local.properties
/usercache.json
/usernamecache.json
/.curseclient
/crash-reports
/.mixin.out
/emi.json
/local
/logs
/saves
/modernfix/structureCacheV1
/.vscode